<div>
    <h1>¿Que me parece Angular?</h1>
    <article>
        <p>Angular its my favorite framework, and this is why. Angular has the coolest
            deferrable view features thats makes
            defer loading content the easiest and most ergonomic it could possible be.
            The Angular comunnity is also filled
            with amazing contributors and experts that create excellent content. The
            comunnity is welcoming and friendly, and
            it really is the best comunnnity out there.
        </p>

    </article>
</div>
<!-- <router-outlet /> -->